/* 
Breakpoints
  576px - mobile
  768px - tablet
  1200px - desktop
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.5rem;
}

h2 {
    font-size: 2.5rem;
}

:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;
    --color-tertiary: #FDC15F;
    --color-lightgrey: #62788A;
    --gap: 1.5rem;
}

/* fine reset */

header {
    background-color: var(--color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

main {
    padding-top: 90px;
}

.mediumpadding {
    padding: 2rem;
}

.ultrapaddingbottom {
    padding-bottom: 8rem;
}

.highpaddingbottom {
    padding-bottom: 5rem;
}

.mediumpaddingbottom {
    padding-bottom: 2.5rem;
}

.mediummarginbottom {
    margin-bottom: 2.5rem;
}

.lowpaddingbottom {
    padding-bottom: 1.5rem;
}

.lowrlpadding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ultralrmargin {
    margin-left: 9rem;
    margin-right: 9rem;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1172px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section {
    width: 100%;
    padding-top: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc((100% / 3) - var(--gap));
}

.col-2 {
    flex-basis: calc((100% / 3) * 2 - var(--gap));
}

.col-3 {
    flex-basis: 100%;
}

.headercontainer a img {
    width: 80px;
    padding: 1rem 0;
}

.headercontainer nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.headercontainer nav ul a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.btn {
    border-radius: 22px;
    padding: 0.5rem 0.8rem;
    display: inline-block;
    white-space: pre-wrap;
}

.primary {
    color: var(--color-primary);
}

.bg-white {
    background-color: white;
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-secondary-light {
    background-color: var(--color-secondary-light);
    border-radius: 22px;
}

.bg-primary {
    background-color: var(--color-primary);
}

.uppercards h3 {
    color: var(--color-secondary);
}

.uppercards p {
    color: var(--color-lightgrey);
    font-weight: 700;
    line-height: 1.5rem;
}

.uppercards .btn {
    color: white;
    font-weight: 700;
    padding: 0.8rem 2.5rem;
}

.uppercards .col-2 {
    display: flex;
    justify-content: space-between;
}

.col-2 img {
    max-width: 250px;
    margin-right: 3rem;
}

.phoneimg {
    display: flex;
    align-self: flex-end;
}

body>main>div>div>div>div>div.mediumpadding {
    max-width: 400px;
}

.centered {
    text-align: center;
}

.uppercards .icon {
    font-size: 4.5rem;
    color: var(--color-secondary);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.radius {
    border-radius: 22px;
}

.nowrap {
    flex-wrap: nowrap;
}

body>main>div.section.bg-primary>div>div>div.col.bg-white.radius>div.centered>i {
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
}

body>main>div.section.bg-primary>div>div>div:nth-child(1)>div>img {
    max-width: 400px;
}

body>main>div.section.bg-primary>div>div>div.col.bg-white.radius>div:nth-child(1)>img {
    max-width: 250px;
}

.devcard {
    height: fit-content;
    align-self: flex-end;
}

.planningtitle {
    font-size: 2rem;
    font-weight: 700;
    color: white
}

body>main>div.section.bg-primary>div>div>div:nth-child(1)>p {
    color: white;
}

body>main>div.section.bg-primary>div>div {
    padding: 0 7rem;

}

body>main>div.section.bg-primary>div>div>div.col.bg-white.radius.devcard.mediumpadding {
    border-radius: 65px;
}

.testimonials p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.partnercard {
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    border-radius: 40px;
    padding-left: 1rem;
    padding-right: 2rem;
    color: white;
}

.partnerimg {
    max-width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    margin: 2rem 0;
}

.partnercard i {
    font-size: 2rem;
}

.partnername {
    font-size: 1.1rem;
    font-weight: 700;
}

.benefitcard {
    border-radius: 22px;
    padding: 1rem;
}

.benefitnumber {
    padding-top: 2rem;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-primary);
}

.benefitcard h3 {
    color: var(--color-primary);
}

.benefitcard .btn {
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    padding: 0.7rem 2.5rem;
    margin-bottom: 1.5rem;
}

.benefittitle {
    color: white;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#benefitparagraph {
    color: var(--color-lightgrey);
}